<mat-grid-list cols="1" rowHeight="8:1">
  <mat-grid-tile>
    <form class="example-form" [formGroup]="form">
      <mat-form-field class="example-full-width">
        <input
          type="text"
          placeholder="Search digimons"
          matInput
          formControlName="ctrl"
        />
      </mat-form-field>
    </form>
  </mat-grid-tile>
</mat-grid-list>

<div
  class="content"
  fxLayout="row wrap"
  fxLayout.lt-sm="column"
  fxLayoutGap="32px"
  fxLayoutAlign="flex-start"
>
  <ng-container *ngFor="let digimon of (results$ | async)">
    <mat-card
    class="digimon-card"
    >
      <mat-card-header>
        <mat-card-title>{{ digimon.name }}</mat-card-title>
        <mat-card-subtitle>{{ digimon.level }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="digimon.img" />
    </mat-card>
  </ng-container>
</div>

<!--<div class="not-found-message">
  <h4>No Digimon Found!</h4>
</div>-->

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-8bits"
  [fullScreen]="true"
  ><p style="color: white;">Loading...</p></ngx-spinner
>

