.content {
  padding: 28px;
}

.content > mat-card {
  margin-bottom: 16px;
}

.content > mat-card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease-in-out;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.not-found-message {
  text-align: center !important;
}

.form-filter {
  margin-left: 21px;
}

.digimon-card {
  max-width: 200px;
}
